# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environments
# ===============================
env/
venv/
.venv/
conda/
.streamlit/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# ML Models / Artifacts
# ===============================
*.pkl
*.joblib
*.h5

# ===============================
# Data Files (optional)
# ===============================
data/*.csv
data/*.xlsx

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS / Editor Files
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Streamlit Cache
# ===============================
.streamlit/secrets.toml

# ===============================
# System
# ===============================
.env
